:root{
    --Charcoal-grey: hsl(235, 18%, 26%);
    --Tomato: hsl(4, 100%, 67%);
    --Dark-slate-grey: hsl(234, 29%, 20%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);
}

*{
    box-sizing: border-box;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
}

body{
    margin: 0;
    background-color: var(--Charcoal-grey);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container{
    background-color: var(--White);
    width: 60vw;
    border-radius: 24px;
    padding: 24px;
    display: flex;
    align-items: center;
}

form{
    padding: 40px 60px 40px 40px;
    height: 100%;
    flex: 1;
}

#header{
    margin: 0 0 24px;
    font-size: 56px;
    font-weight: 700;
}

.text-container{
    display: flex;
    flex-direction: column;
}

.text-container p{
    margin: 0;
}

#image-desktop{
    height: 60vh;
}

#image-mobile{
    width: 100%;
}

ul{
    list-style: none;
    padding: 0;
    margin: 24px 0;
    list-style-position: inside;
}   

li{
    margin: 16px;
    margin-left: 0;
    display: flex;
    align-items: flex-start;
}

.text-container ul li p{
    display: inline-block;
    width: 90%;
    margin-left: 10px;
}

li:first-child{
    margin-top: 0;
}

li:last-child{
    margin-bottom: 0;
}

#email-text{
    font-size: 12px;
    font-weight: 700;
    margin: 16px 0 12px;
    display: inline-block;
}

#invalid-email{
    font-size: 12px;
    font-weight: 700;
    margin: 16px 0 12px;
    float: right;
    display: none;
}

#invalid-email[class="invalid-input"] { 
    color: var(--Tomato);
    outline-color: var(--Tomato);
    display: block; 
}

input{
    width: 100%;
    padding: 20px;
    border-radius: 8px;;
    border: none;
    outline: 1px solid var(--Grey);
}

input[class="invalid-input"]{
    outline-color: var(--Tomato);
    background-color: rgb(256, 236, 228);
}

button{
    font-weight: 700;
    background-color: var(--Dark-slate-grey);
    border: none;
    color: var(--White);
    width: 100%;
    margin-top: 24px;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    cursor: pointer;
    transition: filter 200ms linear;
}

button:hover{
    background: linear-gradient(90deg, hsl(349, 100%, 66%), hsl(13, 97%, 63%));
    filter: drop-shadow(0px 5px 15px hsla(13, 97%, 63%, 0.7));
}

.success-message{
    background-color: var(--White);
    border-radius: 24px;
    padding: 48px 66px;
    font-size: 16px;
    width: 30vw;
    flex-direction: column;
}

.info h1{
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1em;
    margin-top: 40px;
    margin-bottom: 30px;
}

.success-message button{
    margin-bottom: 12px;
    transition: filter 200ms linear;
}

.success-message button:hover{
    filter: drop-shadow(0px 5px 15px hsla(13, 97%, 63%, 0.7));
}

@media (max-width: 1500px){
    .form-container{
        width: 70vw;
        margin-top: auto;
        margin-bottom: auto;
    }
    form{
        padding: 10px 20px 10px 10px;
    }
    #image-desktop{
        height: 90vh;
    }
    .success-message{
        width: 50vw;
    }
}

@media (max-width: 1100px){
    #image-desktop{
        height: 70vh;
    }
    #header{
        font-size: 48px;
    }
    .success-message{
        padding: 44px 32px;
    }
}

@media (max-width: 800px){
    .form-container{
        width: 90vw;
    }
    form{
        padding: 10px 20px 20px;
    }
    #image-mobile{
        border-radius: 20px;
    }
    .success-message{
        width: 70vw;
        padding: 24px 33px;
    }
}

@media (max-width: 500px){
    body{
        background-color: var(--White);
        height: 100dvh;
    }
    .form-container{
        height: 100%;
        width: 100%;
        border-radius: 0;
        padding: 0;
    }
    .form-container p{
        font-size: 14px;
    }
    #header{
        font-size: 40px;
    }
    .info h1{
        font-size: 48px;
    }
    form{
        padding: 0;
    }
    .text-container{
        padding: 40px 20px 30px;
        height: calc(100dvh - (100dvw * 0.757));
    }
    #email-text, #invalid-email{
        margin-top: 6px
    }
    #email-input{
        padding: 12px;
        font-size: 14px;
    }
    .button-container button{
        margin-top: 30px;
    }
    .button-container{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }
    #image-mobile{
        border-radius: 0;
    }
    .success-message{
        height: 100%;
        width: 100%;
        justify-content: space-between;
    }
    .info{
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        flex-direction: column;
        align-content: flex-start;
        justify-content: center;
    }
}
