:root{
    --Charcoal-grey: hsl(235, 18%, 26%);
    --Tomato: hsl(4, 100%, 67%);
    --Dark-slate-grey: hsl(234, 29%, 20%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);
}

*{
    box-sizing: border-box;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
}

body{
    margin: 0;
    background-color: var(--Charcoal-grey);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container{
    background-color: var(--White);
    width: 75vw;
    border-radius: 24px;
    padding: 24px;
    display: flex;
    align-items: center;
}

form{
    padding: 40px 60px 40px 40px;
    height: 100%;
    flex: 1;
}

#header{
    margin: 0 0 24px;
    font-size: 56px;
    font-weight: 700;
}

form p{
    margin: 0;
}

#image-desktop{
    height: 60vh;
}

ul{
    list-style: none;
    padding: 0;
    margin: 24px 0;
    list-style-position: inside;
}   

li{
    margin: 16px;
    margin-left: 0;
}

li img{
    position: relative;
    top: 0.28vh;
}

li:first-child{
    margin-top: 0;
}

li:last-child{
    margin-bottom: 0;
}

li span{
    display: inline-block;
    margin-left: 10px;
}

#email-text{
    font-size: 12px;
    font-weight: 700;
    margin: 16px 0 12px;
    display: inline-block;
}

#invalid-email{
    font-size: 12px;
    font-weight: 700;
    margin: 16px 0 12px;
    float: right;
    display: none;
}

#invalid-email[class="invalid-input"] { 
    color: var(--Tomato);
    outline-color: var(--Tomato);
    display: block; 
}

input{
    width: 100%;
    padding: 20px;
    border-radius: 8px;;
    border: none;
    outline: 1px solid var(--Grey);
}

input[class="invalid-input"]{
    outline-color: var(--Tomato);
    background-color: rgb(256, 236, 228);
}

button{
    font-weight: 700;
    background-color: var(--Dark-slate-grey);
    border: none;
    color: var(--White);
    width: 100%;
    margin-top: 24px;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    cursor: pointer;
    transition: filter 200ms linear;
}

button:hover{
    background: linear-gradient(90deg, hsl(349, 100%, 66%), hsl(13, 97%, 63%));
    filter: drop-shadow(0px 5px 15px hsla(13, 97%, 63%, 0.7));
}

.success-message{
    background-color: var(--White);
    border-radius: 24px;
    padding: 48px 66px;
    font-size: 16px;
    max-width: 35vw;
}

.success-message h1{
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1em;
    margin-top: 40px;
    margin-bottom: 30px;
}

.success-message button{
    margin-bottom: 12px;
    transition: filter 200ms linear;
}

.success-message button:hover{
    filter: drop-shadow(0px 5px 15px hsla(13, 97%, 63%, 0.7));
}